*{
    margin: 0;

}
#container{
    position:relative;
    width:80%;
    height:600px;
    margin: 50px auto;
    background-color: bisque;
}
#inputbox{
    height:40px;
    width:100%;
    position: absolute;
    bottom:0;
}
input{
    height:30px;
    width:80%;
    display:inline-block;
}
button{
    height:30px;
    width:19%;
    display: inline-block;
    background-color: indianred;
    color:white;
}
#messages{
    width:80%;
    height:400px;
    overflow-y: auto;
    display:inline-block;
    font-size: 20px;
}
li{
    border-radius: 10%;
    color:black;
    display:block;

}
#connected{
    height:400px;
    margin-top:50px;
    width:19%;
    overflow-y: auto;
    display: inline-block;
    color:  indianred;
    font-family: aerial;
    font-size: 25px;
}
